{% comment %}
  collapse_enabled
  colors.
{% endcomment %}
<div
  id="site-promo-bar-wrapper"
  {% if collapse_enabled %}
    x-data
    x-show="!$store.global.isWindowScrolled"
    x-collapse
  {% endif %}
>
  <div
    id="site-promo-bar"
    class="site-promo-bar-tw-component"
  >
    <div class="font-bold text-base tracking-wide text-center">
      {{ content }}
    </div>
  </div>
</div>

<style>
  .site-promo-bar-tw-component {
    background-color: {{ colors.background }};
    color: {{ colors.text }}
  }
</style>
