{% schema %}
  {
    "name": "footer",
    "class": "footer",
    "tag": "footer",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.footer.settings.paragraph"
      }
    ]
  }
{% endschema %}

<div class="px-6 md:px-8 py-12">
  <div class="container">
    {% comment %} <div>
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div> {% endcomment %}

    {% comment %} <small>
      &copy; {{ "now" | date: "%Y" }} Slayed Starter Theme
    </small> {% endcomment %}
  </div>
</div>
