<div
  class="product-customiser"
  :class="$store.global.isWindowScrolled ? 'scrolled' : ''"
  data-ajax-cart-section
  x-cloak
>
  <div class="title-row">
    <h2 id="product-customiser-label" class="text-cloud-burst-500">Customiser</h2>
    <button @click="$store.global.isCustomiserVisible = false">
      {% render 'icon-close-x' %}
    </button>
  </div>
  <hr>
  <hr>

  <form x-data="{ formStep: 1 }" class="h-full flex flex-col justify-between">
    <div class="">
      <div x-cloak x-show="formStep === 1">Step 1</div>
      <div x-cloak x-show="formStep === 2">Step 2</div>
      <div x-cloak x-show="formStep === 3">Step 3</div>
      <div x-cloak x-show="formStep === 4">Final Step</div>
    </div>

    <div class="">
      <button x-cloak x-show="formStep > 1" @click="formStep -= 1" type="button" class="underline">Back</button>
      <button x-cloak x-show="formStep < 4" @click="formStep += 1" type="button" class="underline">Next Step</button>
      <button x-cloak x-show="formStep === 4" type="submit" class="underline">Submit</button>
    </div>
  </form>
</div>

<style>
  .product-customiser-wrapper {
    position: fixed;
    top: 6rem;
    bottom: 0rem;
    left: 20vw;
    right: 0;
    z-index: 99;
  }
  .product-customiser-wrapper.scrolled {
    top: 4rem;
  }

  .product-customiser {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 30px 130px -8px rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  @media (max-width: 576px) {
    .product-customiser {
      width: 100vw;
      border-radius: 0;
    }
  }

  .product-customiser hr {
    margin-bottom: 20px;
  }

  .product-customiser .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .product-customiser .title-row h2 {
    margin: 0;
  }

  .product-customiser .title-row button {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .product-customiser .title-row button svg {
    display: block;
    height: 16px;
  }
</style>

{% schema %}
{
  "name": "Product Customiser",
  "tag": "section",
  "class": "full"
}
{% endschema %}
